@model NZWalks.UI.Models.Dto.WalkViewModel
@{
}
<h1 class="mt-3"> Add a new walk</h1>

<form method="post">
    <div  class = "mt-3"> 
        <label class = "form-label">Name</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class = "mt-3">
        <label class = "form-label">Description</label>
        <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class = "mt-3">
        <label class = "form-label">Length</label>
        <input type="text" asp-for="Length" class="form-control" />
    </div>
    <div class = "mt-3">
        <label class = "form-label">WalkImageUrl</label>
        <input type="text" asp-for="WalkImageUrl" class="form-control" />
    </div>
        <div class = "mt-3">
        <label class = "form-label">DifficultyId</label>
        <input type="text" asp-for="DifficultyId" class="form-control" />
    </div>
    <div class = "mt-3">
        <label class = "form-label">RegionId</label>
        <input type="text" asp-for="RegionId" class="form-control" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form>